/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.clear{
    clear: both;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.head{
    height: 1.33rem;
}
.head img{
    width: 100%;
    height: 100%;
}
/*head end*/
/*banner start*/
.banner{
    background-color: #2196f3;
    padding-top: 1.22rem;
    box-sizing: border-box;
    height: 3.11rem;
}
.banner p{
    line-height: 1em;
    font-size: 1.14rem;
    color: white;
    display: inline-block;
    margin-left: 1.77rem;
}
.banner img:nth-child(3){
    float: right;
}
.banner img:nth-child(1){
    width: 1.07rem;
    height: 0.72rem;
}
.banner img:nth-child(3){
    width: 0.96rem;
    height: 0.96rem;
}
/*banner end*/
/*con start*/
.con1{
    position: relative;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    float: left;
    width: 5.98rem;
    height: 7.66rem;
    margin-top: 0.9rem;
    margin-left: 0.5rem;
    border: 1px solid #d2d2d2;
}
.con1 img:nth-child(1){
    float: right;
    width: 0.22rem;
    height: 0.88rem;
}
.con1 img:nth-child(2){
    width: 3.48rem;
    height: 3.48rem;
    margin-top: 0.5rem;
}
.con1 p:nth-child(3){
    font-size:0.7rem ;
    color: #757575;
    margin-top: 0.5rem;
}
.con1:nth-child(2) p{
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 1.5rem;
}
.con2{
    text-align: left;
    padding-left: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 3rem;
    width: 5.98rem;
    height: 11.6rem;
    z-index: 999;
    background-color: white;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bold;
    display: none;
}
.con2 li:hover{
    color: red;
}
.con1:hover .con2{
    display: block;
}
/*con end*/