/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.clear{
    clear: both;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.head{
    height: 1.33rem;
}
.head img{
    width: 100%;
    height: 100%;
}
/*head end*/
/*banner start*/
.banner{
    background-color: #2196f3;
    padding-top: 1.22rem;
    box-sizing: border-box;
    height: 3.11rem;
}
.banner p{
    line-height: 1em;
    font-size: 1.14rem;
    color: white;
    display: inline-block;
    margin-left: 1.77rem;
}
.banner img:nth-child(1){
    width: 1.07rem;
    height: 0.72rem;
}
.banner img:nth-child(4){
    width: 0.96rem;
    float: right;
    height: 0.96rem;
    margin-right: 1.4rem;
}
.banner img:nth-child(3){
    width: 0.9rem;
    margin-right:0.5rem;
    height: 0.9rem;
    float: right;
}
/*banner end*/
/*con start*/
.con .box{
    margin-top: 1rem;
    border: 1px solid #eaeaea;
    padding: 0.5rem;
    box-sizing: border-box;
}
.con1{
    font-weight: bold;
    line-height: 3.14rem;
    height: 3.14rem;
}
.con2{
    padding-top: 1.2rem;
    height: 6.92rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
}
.con2 img{
    margin-right: 0.5rem;
    float: left;
    width: 4.7rem;
}
.con2 p:nth-child(3){
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: #757575;
}
.lan{color: #448aff}
.con1:nth-child(4){
    color: #4caf50;
    text-align: center;
}
/*con end*/