/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
.clear{
    clear: both;
}
/*公共部分 end*/
/*head start*/
.head{
    height: 1.33rem;
}
.head img{
    width: 100%;
    height: 100%;
}
/*head end*/
.banner{
    box-sizing: border-box;
    height: 5.74rem;
    background-color: #f44336;
    padding-top: 1rem;
}
.banner img:nth-child(1){
    float: left;
    width: 0.94rem;
    height: 0.94rem;
}
.banner p:nth-child(2) a{
    text-decoration: none;
    color: white;
    margin-left: 1.92rem;
    float: left;
    font-size: 1.16rem;
}
.banner img:nth-child(3){
    float: right;
    margin-top: 0.1rem;
    width: 0.22rem;
    height: 0.88rem;
}
.nav{
    margin-top: 2.1rem;
    width: 100%;
    float: left;
}
.nav li{
    text-align: center;
    width: 33%;
    float: left;
    list-style-type: none;
    font-size: 0.77rem;
}
.nav li a{
    height: 1.26rem;
    display: block;
    color: white;
    text-decoration: none;
}
.nav li a:hover{
    border-bottom: 4px white solid;
}
/*banner end*/
/*con start*/
.con1{
    padding-top: 1.07rem;
    height:4.77rem ;
    border-bottom: 1px solid #eaeaea;
}
.con1 img:nth-child(1){
    float: left;
    margin-right: 0.55rem;
    width: 2.66rem;
    height: 2.66rem;
}
.con1 p:nth-child(2){
    float: left;
    font-size: 0.77rem;
    width: 10.90rem;
}
.con1 p:nth-child(3){
    float: left;
    color: #757575;
    font-size: 0.66rem;
}
.hong{
    color: #f44336;
}
.con1 img:nth-child(4){
    float: right;
    width: 1.33rem;
    height: 1.33rem;
    margin-top: -1.6rem;
}
.con1:nth-child(2) img:nth-child(4){
    float: right;
    width: 2.66rem;
    height: 2.66rem;
    margin-top: -1.6rem;
}
.con1:nth-child(1) img:nth-child(4){
    margin-right: 0.45rem;
}
.con1:nth-child(3) img:nth-child(4){
    margin-right: 0.92rem;
    float: right;
    width: 0.92rem;
    height: 1.33rem;
    margin-top: -1.6rem;
}
.con1:nth-child(4) img:nth-child(4){
    float: right;
    margin-right: 0.92rem;
    width: 1.33rem;
    height: 0.92rem;
    margin-top: -1.6rem;
}
.con1:nth-child(5) img:nth-child(4){
    margin-right: 0.92rem;
    float: right;
    width: 1.33rem;
    height: 0.92rem;
    margin-top: -1.6rem;
}
.con1:nth-child(6) img:nth-child(4){
    float: right;
    width: 2.66rem;
    height: 2.66rem;
    margin-top: -1.6rem;
}
/*con end*/