/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.clear{
    clear: both;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.head{
    height: 1.33rem;
}
.head img{
    width: 100%;
    height: 100%;
}
/*head end*/
/*banner start*/
.banner{
    padding-top: 1rem;
    box-sizing: border-box;
    background-color: #4caf50;
    height: 3.05rem;
}
.banner img:nth-child(1){
    float: left;
    width: 0.94rem;
    height: 0.94rem;
    margin-top: 0.1rem;
}
.banner p:nth-child(2) a{
    text-decoration: none;
    color: white;
    margin-left: 1.92rem;
    float: left;
    font-size: 1.14rem;
}
.banner img:nth-child(3){
    float: right;
    width: 0.22rem;
    height: 0.88rem;
    margin-top: 0.1rem;
}
.banner img:nth-child(4){
    float: right;
    width: 0.92rem;
    height: 0.92rem;
    margin-top: 0.1rem;
    margin-right: 1rem;
}
/*banner end*/
/*banner1 start*/
.banner1 img{
    height: 13.5rem;
    width: 100%;
}
/*banner1 end*/
/*con start*/
.con{
    padding-top: 1.24rem;
    box-sizing: border-box;
    padding-left: 0.83rem;
    height: 4.9rem;
}
.con img{
    float: left;
    width: 1.33rem;
    height: 1.14rem;
}
.con p:nth-child(2){
    font-size: 1.33rem;
    font-weight: bold;
}
.con p:nth-child(3){
    font-size: 0.88rem;
    color: #4caf50;
    margin-top: 0.5rem;
    margin-left: 1.22rem;
}
/*con end*/
/*con2 start*/
.con21{
    margin-top: 1rem;
    float: left;
    margin-left: 0.5rem;
    width: 7.9rem;
    height: 3.88rem;
}
.con21:nth-child(even){margin-left: 1rem}
.con21 p{
    color: #757575;
    font-size: 0.66rem;
}
.input{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
    font-size: 0.88rem;
    width: 7.9rem;
    height: 3rem;
}
/*con2 end*/
/*foot start*/
.foot{
    height: 1.85rem;
    margin-top: 1.33rem;
   }
.input2{
    text-align: center;
    float: left;
    width: 4.8rem;
    height: 1.85rem;
    margin-left: 1.3rem;
    font-size: 0.77rem;
    color: #8b8b8b;
}
.input2:nth-child(3){
    background-color: #7c4dff;
    color: white}
.input2:nth-child(1){margin-left: 0}
/*foot end*/