/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.clear{
    clear: both;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.head{
    height: 1.33rem;
}
.head img{
    width: 100%;
    height: 100%;
}
/*head end*/
/*banner start*/
.banner{
    height: 3.14rem;
    padding-top: 1rem;
    box-sizing: border-box;
    background-color: #f44336;
}
.banner img:nth-child(1){
    float: left;
    width: 0.94rem;
    height: 0.94rem;
    margin-top: 0.1rem;
}
.banner p:nth-child(2) a{
    text-decoration: none;
    color: white;
    margin-left: 1.92rem;
    float: left;
    font-size: 1.14rem;
}
.banner img:nth-child(3){
    float: right;
    width: 0.92rem;
    height: 0.92rem;
    margin-top: 0.1rem;
}
/*banner end*/
/*con start*/
.con1{
    float: left;
    position: relative;
    margin-top: 0.37rem;
    width: 9.79rem;
    height: 9.09rem;
}
.con1:nth-child(even){
    float: right;
    margin-left: 0.37rem;}
.con1 img{
    width: 100%;
    height: 100%;
}
.con2{
    padding-top: 0.7rem;
    padding-left: 0.88rem;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 3.62rem;
    background-color: rgba(0,0,0,0.3);
}
.con2 p:nth-child(1){
    font-size: 0.88rem;
    color: white;
    font-weight: bold;
}
.con2 p:nth-child(2){
    font-size: 0.7rem;
    color: white;
    margin-top: 0.2rem;
}
.con2 img{
    float: right;
    height: 1rem;
    width: 0.25rem;
    margin-right: 0.5rem;
    margin-top: -2rem;
}
/*con end*/
/*foot start*/
.foot{
    line-height: 2.66rem;
    position: absolute;
    width: 100%;
    height: 2.66rem;
    background-color: #333333;
    margin-top: -2.46rem;
}
.foot p:nth-child(1){
    float: left;
    color: #e0e0e0;
    font-size: 0.77rem;
    margin-left: 0.9rem;
}
.foot p:nth-child(2){
    float: right;
    color: #e5af0d;
    font-size: 0.77rem;
    margin-right: 0.9rem;
}
/*foot end*/