/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 19.14rem;
}
.clear{
    clear: both;
}
.box{
    width: 19.14rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.head{
    height:10.33rem ;
    background-image: url("../img/7head.png");
    background-size: 100% 100%;
}
.head1{
    background-color:rgba(0,0,0,0.4);
    height: 1.33rem;
}
.head1 img{
    width: 100%;
    height: 100%;
}
.head2{
    height: 3.14rem;
}
.head2 img:nth-child(1){
    float: left;
    width: 0.94rem;
    height: 0.64rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
}
.head2 p:nth-child(2) a{
    text-decoration: none;
    color: white;
    margin-left: 1.92rem;
    float: left;
    font-size: 1.14rem;
}
.head2 img:nth-child(3){
    float: right;
    width: 0.92rem;
    height: 0.92rem;
    margin-top: 0.1rem;
}
.nav{
    margin-top: 5.7rem;
    width: 100%;
    float: left;
}
.nav li{
    text-align: center;
    width: 33%;
    float: left;
    list-style-type: none;
    font-size: 0.77rem;
}
.nav li a{
    height: 1.56rem;
    display: block;
    color: white;
    text-decoration: none;
}
.nav li a:hover{
    border-bottom: 4px red solid;
}
/*head end*/
/*con start*/
.con .box{
    padding-top: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid#dcdcdc;
    height: 5.64rem;
}
.con .box img:nth-child(1){
    margin-right: 0.42rem;
    width: 3.62rem;
    float: left;
}
.con .box p:nth-child(2){
    font-size: 0.77rem;
    color: #f44336;
}
.con .box p:nth-child(3){
    font-size: 0.77rem;
    color: #727272;
    margin-top: 0.3rem;
}
.con .box p:nth-child(4){
    font-size: 0.66rem;
    color: #727272;
    margin-top: 0.3rem;
}
.con .box img:nth-child(5){
    float: right;
    width: 1.33rem;
    margin-top: -1.8rem;
    margin-right: 0.5rem;
}
/*con end*/