/*公共部分 start*/
*{margin: 0;padding: 0}
.wrap{
    width: 100%;
    min-width: 18.22rem;
}
.clear{
    clear: both;
}
.box{
    width: 18.22rem;
    margin: 0 auto;
}
/*公共部分 end*/
/*head start*/
.banner{
    height: 14.12rem;
    background-image: url("../img/9banner.png");
    background-size: 100% 100%;
}
.banner img{
    height: 3.35rem;
}
.banner2{
    padding-top: 0.5rem;
    box-sizing: border-box;
    font-size: 0.88rem;
    color: white;
    margin-top: 5.9rem;
    height: 4.07rem;
    background-color: rgba(0,0,0,0.4);
}
.banner2 p{
    margin-left: 2.68rem;
}
/*head end*/
/*con start*/
.con p:nth-child(1){
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 2.96rem;
}
.con1{
    font-weight: bold;
    height:3.7rem ;
}
.con img{
    margin-right: 0.5rem;
    float: left;
    width: 2.29rem;
}
.con1 p:nth-child(2){color: #388e3c}
.con1 p:nth-child(4){
    float: right;
    margin-top: -2rem;
    color: #757575;
    font-weight: normal;
}
/*con end*/